sources:
  stripe:
    type: stripe
    secret: ${STRIPE_SECRET}
    event_id_path: id
    handler_url: https://webhook.site/80895e38-b446-42cc-a056-5cb7f427c884
    verify: true

  mycompany_service:
    type: mycompany_signature
    secret: ${MY_COMPANY_SERVICE_SECRET}
    event_id_path: id
    handler_url: https://webhook.site/80895e38-b446-42cc-a056-5cb7f427c884
    verify: false

  open_service:
    type: none
    event_id_path: data.transaction_id
    handler_url: https://webhook.site/80895e38-b446-42cc-a056-5cb7f427c884
    verify: false

destinations:
  test_company:
    type: none
    handler_url: https://webhook.site/80895e38-b446-42cc-a056-5cb7f427c884
    verify: false